<table border="2">
    <% for( var i = 0; i < allTodos.length; i++) { %>
    <tr>
        <td>
           <%= allTodos[i].id %>
        </td>
        <td>
            <%= allTodos[i].title %>
         </td>
         <td>
            <%= allTodos[i].dueDate %>
         </td>
         <td>
            <%= allTodos[i].completed %>
         </td>
    </tr>
   <% } %>
</table>